@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}


.hero-title{

  color: #1d4ed8;
  text-align: center;
}

.my-button {
  padding: 12px 24px;
  background-color: #3b82f6; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.my-button:hover {
  background-color: #2563eb; 
}

.custom-navbar {
  width: 100%;
  padding: 16px 24px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
}


.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 40px; 
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #1d4ed8; 
}

.users-btn {
  background-color: #3b82f6; 
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.user-card{
  margin-bottom: 25px;
  
}
.userss{
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
   
}
.userss:hover {
  text-decoration: none;
  color: #27b4ec;
}

